In [2]:
from dash import Dash, html, dash_table, dcc, callback, Output, Input, State, callback_context
import pandas as pd
import numpy as np
import plotly.express as px
import dash_bootstrap_components as dbc
import calendar
import requests
import datetime

In [2]:
# Incorporate data
df = pd.read_csv('data.csv')

In [3]:
# Create Date Columns
df['Timestamp'] = pd.to_datetime(df['Timestamp'])
df['Year'] = df['Timestamp'].dt.year
df['Month'] = df['Timestamp'].dt.month.apply(lambda x: calendar.month_name[int(x)])
df['Day'] = df['Timestamp'].dt.date
df['Hour'] = df['Timestamp'].dt.hour
df['Minute'] = df['Timestamp'].dt.strftime('%H:%M')

In [8]:
df.dtypes

_id                          int64
Timestamp           datetime64[ns]
Redemption Count             int64
Sales Count                  int64
Year                         int32
Month                       object
Day                         object
Hour                         int32
Minute                      object
dtype: object

In [ ]:
weather_df = pd.read_csv('weather_data.csv')

In [17]:
weather_df.dtypes

time               object
temperature_2m    float64
precipitation     float64
windspeed_10m     float64
cloudcover        float64
dtype: object

In [11]:
df['rounded_time'] = df['Timestamp'].dt.floor('h')
df

,_id,Timestamp,Redemption Count,Sales Count,Year,Month,Day,Hour,Minute,rounded_time
0,1,2025-04-11 18:45:00,5,4,2025,April,2025-04-11,18,18:45,2025-04-11 18:00:00
1,2,2025-04-11 18:30:00,11,45,2025,April,2025-04-11,18,18:30,2025-04-11 18:00:00
2,3,2025-04-11 18:15:00,9,7,2025,April,2025-04-11,18,18:15,2025-04-11 18:00:00
3,4,2025-04-11 18:00:00,25,14,2025,April,2025-04-11,18,18:00,2025-04-11 18:00:00
4,5,2025-04-11 17:45:00,3,2,2025,April,2025-04-11,17,17:45,2025-04-11 17:00:00
...,...,...,...,...,...,...,...,...,...,...
242207,242208,2015-05-04 16:00:00,0,2,2015,May,2015-05-04,16,16:00,2015-05-04 16:00:00
242208,242209,2015-05-01 16:00:00,1,0,2015,May,2015-05-01,16,16:00,2015-05-01 16:00:00
242209,242210,2015-05-01 15:45:00,0,1,2015,May,2015-05-01,15,15:45,2015-05-01 15:00:00
242210,242211,2015-05-01 15:15:00,0,2,2015,May,2015-05-01,15,15:15,2015-05-01 15:00:00
242211,242212,2015-05-01 13:30:00,0,1,2015,May,2015-05-01,13,13:30,2015-05-01 13:00:00

In [18]:
weather_df['time'] = pd.to_datetime(weather_df['time'])
weather_df.dtypes

time              datetime64[ns]
temperature_2m           float64
precipitation            float64
windspeed_10m            float64
cloudcover               float64
dtype: object

In [19]:
merged = pd.merge(df, weather_df, left_on='rounded_time', right_on='time', how='left')
merged

,_id,Timestamp,Redemption Count,Sales Count,Year,Month,Day,Hour,Minute,rounded_time,time,temperature_2m,precipitation,windspeed_10m,cloudcover
0,1,2025-04-11 18:45:00,5,4,2025,April,2025-04-11,18,18:45,2025-04-11 18:00:00,2025-04-11 18:00:00,3.5,0.0,8.4,100.0
1,2,2025-04-11 18:30:00,11,45,2025,April,2025-04-11,18,18:30,2025-04-11 18:00:00,2025-04-11 18:00:00,3.5,0.0,8.4,100.0
2,3,2025-04-11 18:15:00,9,7,2025,April,2025-04-11,18,18:15,2025-04-11 18:00:00,2025-04-11 18:00:00,3.5,0.0,8.4,100.0
3,4,2025-04-11 18:00:00,25,14,2025,April,2025-04-11,18,18:00,2025-04-11 18:00:00,2025-04-11 18:00:00,3.5,0.0,8.4,100.0
4,5,2025-04-11 17:45:00,3,2,2025,April,2025-04-11,17,17:45,2025-04-11 17:00:00,2025-04-11 17:00:00,3.6,0.0,9.3,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242207,242208,2015-05-04 16:00:00,0,2,2015,May,2015-05-04,16,16:00,2015-05-04 16:00:00,2015-05-04 16:00:00,17.9,0.0,20.6,100.0
242208,242209,2015-05-01 16:00:00,1,0,2015,May,2015-05-01,16,16:00,2015-05-01 16:00:00,2015-05-01 16:00:00,14.2,0.0,7.6,84.0
242209,242210,2015-05-01 15:45:00,0,1,2015,May,2015-05-01,15,15:45,2015-05-01 15:00:00,2015-05-01 15:00:00,14.5,0.0,7.2,98.0
242210,242211,2015-05-01 15:15:00,0,2,2015,May,2015-05-01,15,15:15,2015-05-01 15:00:00,2015-05-01 15:00:00,14.5,0.0,7.2,98.0
242211,242212,2015-05-01 13:30:00,0,1,2015,May,2015-05-01,13,13:30,2015-05-01 13:00:00,2015-05-01 13:00:00,13.1,0.0,11.5,50.0

In [20]:
# Initialize the app - incorporate a Dash Bootstrap theme
external_stylesheets = [dbc.themes.CERULEAN]
app = Dash(__name__, external_stylesheets=external_stylesheets)

In [ ]:
app.layout = dbc.Container([
    dbc.NavbarSimple(brand="Toronto Ferry Dashboard", color="primary", dark=True),
    dbc.Row([
        dbc.Col([
            html.H4("Redemption Counts"),
            html.Button("Back", id="back-button", n_clicks=0),
            dcc.Graph(id="bar-graph")
        ], width=8)
        # dbc.Col([
        #     html.H4("Top 10 Days"),
        #     dash_table.DataTable(data=day_grouped_sorted.to_dict('records'), page_size=10),
        # ], width=4),
        # dbc.Col([
        #     html.H4("Top Month"),
        #     dbc.Card([
        #         dbc.CardBody(
        #             [
        #                 html.H3(top_month, className ="card-title"),
        #                 html.P(int(top_month_rd), className="card-text")
        #             ]
        #         )
        #     ],
        #         style={"width": "10rem"},
        #     )
        # ])
    ])
], fluid=True)

# App state to track drilldown level
drill_levels = ['Year', 'Month', 'Day', 'Hour', 'Minute']
drill_titles = [
    'Total Redemptions by Year',
    'Monthly Redemptions in {}',
    'Daily Redemptions in {} {}',
    'Hourly Redemptions on {}',
    'Minute-Level Redemptions on {}'
]

drill_state = []

@app.callback(
    Output("bar-graph", "figure"),
    Input("bar-graph", "clickData"),
    Input("back-button", "n_clicks"),
    State("bar-graph", "figure")
)
def update_graph(clickData, n_clicks, current_fig):
    global drill_state
    ctx = callback_context

    if not ctx.triggered:
        trigger = None
    else:
        trigger = ctx.triggered[0]['prop_id'].split('.')[0]

    if trigger == "back-button" and drill_state:
        drill_state.pop()

    elif trigger == "bar-graph" and clickData is not None and len(drill_state) < 4:
        clicked_value = str(clickData['points'][0]['x'])
        drill_state.append(clicked_value)

    # Determine drilldown level
    level = len(drill_state)

    if level == 0:
        df_grouped = df.groupby("Year")['Redemption Count'].sum().reset_index()
        fig = px.bar(df_grouped, x="Year", y="Redemption Count", title=drill_titles[0])
        fig.update_xaxes(type='category')
        return fig

    elif level == 1:
        df_filtered = df[df['Year'] == int(drill_state[0])]
        df_grouped = df_filtered.groupby("Month")['Redemption Count'].sum().reset_index()
        fig = px.bar(df_grouped.sort_values(by="Month"), x="Month", y="Redemption Count", title=drill_titles[1].format(drill_state[0]))
        fig.update_xaxes(type='category')
        return fig

    elif level == 2:
        df_filtered = df[(df['Year'] == int(drill_state[0])) & (df['Month'] == drill_state[1])]
        df_grouped = df_filtered.groupby("Day")['Redemption Count'].sum().reset_index()
        fig = px.bar(df_grouped.sort_values(by="Day"), x="Day", y="Redemption Count", title=drill_titles[2].format(drill_state[1], drill_state[0]))
        fig.update_xaxes(type='category')
        return fig

    elif level == 3:
        df_filtered = df[df['Day'] == datetime.datetime.strptime(drill_state[2], "%Y-%m-%d").date()]
        df_grouped = df_filtered.groupby("Hour")['Redemption Count'].sum().reset_index()
        fig = px.bar(df_grouped, x="Hour", y="Redemption Count", title=drill_titles[3].format(drill_state[2]))
        fig.update_xaxes(type='category')
        return fig

    elif level == 4:
        df_filtered = df[
            (df['Day'] == datetime.datetime.strptime(drill_state[2], "%Y-%m-%d").date()) &
            (df['Hour'] == int(drill_state[3]))
    ]
        df_grouped = df_filtered.groupby("Timestamp")['Redemption Count'].sum().reset_index()
        df_grouped["label"] = df_grouped["Timestamp"].dt.strftime('%H:%M')
        fig = px.bar(df_grouped, x="label", y="Redemption Count", title=drill_titles[4].format(drill_state[2]))
        fig.update_xaxes(type='category')
        return fig

    return dash.no_update

# Run the app
if __name__ == '__main__':
    app.run(debug=True,port=8051)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (936650512.py, line 11)